@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

.content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em; }
  .content:after {
    content: "";
    display: table;
    clear: both; }

button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #1d1639;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #010102;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #1d1639;
  text-decoration: none; }
  a:hover {
    color: #010102; }
  a:active, a:focus {
    color: #010102;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #1d1639;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(20, 15, 39, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.crcr-logo {
  width: 250px;
  fill: #ffffff;
  margin-bottom: 1rem; }

.type-system-slab {
  text-align: left; }
  .type-system-slab:after {
    content: "";
    display: table;
    clear: both; }
  .type-system-slab .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: .7em;
    font-weight: 600;
    margin-bottom: 2em;
    padding: .1em 0;
    text-align: left;
    text-transform: uppercase; }
  .type-system-slab h1 {
    font-family: "Roboto Slab", serif;
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: .6em; }
    @media screen and (min-width: 40em) {
      .type-system-slab h1 {
        font-size: 2.4em; } }
  .type-system-slab h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 1.2em; }
    @media screen and (min-width: 40em) {
      .type-system-slab h2 {
        font-size: 1.3em; } }
  .type-system-slab code {
    white-space: nowrap;
    background: #F7F7F7;
    border: 1px solid #E0E0E0;
    border-radius: 0.28125em;
    padding: .1em .4em;
    font-size: .8em;
    font-style: normal; }
  .type-system-slab h3 {
    font-family: "Roboto Slab", serif;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.4em;
    margin-bottom: .5em; }
  .type-system-slab p.date {
    color: rgba(51, 51, 51, 0.4);
    font-family: "Roboto Slab", serif;
    font-size: .8em;
    margin-bottom: .5em; }
  .type-system-slab p {
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    letter-spacing: 1;
    margin-bottom: 1.5em; }
    .type-system-slab p span {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: .8em;
      text-transform: uppercase; }
  .type-system-slab a.read-more {
    display: inline-block;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    margin-left: .2em;
    position: relative; }
    .type-system-slab a.read-more span {
      position: absolute;
      font-size: 1.8em;
      top: -2px;
      right: -12px; }
  .type-system-slab hr {
    width: 3em; }
  .type-system-slab p.author {
    font-family: "Roboto Slab", serif; }
  .type-system-slab .fa-blue {
    color: #1d1639; }
  .type-system-slab .fa-white {
    color: #ffffff; }

.centered-navigation {
  background-color: #1d1639;
  border-bottom: 1px solid #120d23;
  font-family: "Roboto Slab", serif;
  height: 60px;
  width: 100%;
  z-index: 9999; }
  .centered-navigation .mobile-logo {
    display: inline;
    float: left;
    max-height: 60px;
    padding-left: 1em; }
    .centered-navigation .mobile-logo img {
      max-height: 60px;
      opacity: 1;
      padding: .8em 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .mobile-logo {
        display: none; } }
  .centered-navigation .centered-navigation-menu-button {
    color: #fff;
    display: block;
    float: right;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .centered-navigation-menu-button {
        display: none; } }
    .centered-navigation .centered-navigation-menu-button:hover {
      color: #9080ce; }
  .centered-navigation .centered-navigation-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999; }
    .centered-navigation .centered-navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    .centered-navigation .centered-navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
  .centered-navigation ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.centered-navigation-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 53.75em) {
    .centered-navigation .nav-link:first-child {
      margin-left: 2.2em; } }
  .centered-navigation ul li.nav-link {
    background: #1d1639;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 1em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px; }
        .centered-navigation ul li.nav-link a {
          padding-right: 1em; } }
    .centered-navigation ul li.nav-link a {
      color: #fff;
      display: inline-block; }
      .centered-navigation ul li.nav-link a:hover {
        color: #9080ce; }
  .centered-navigation li.logo.nav-link {
    display: none;
    line-height: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.logo.nav-link {
        display: inline; } }
  .centered-navigation .logo img {
    margin-bottom: -0.66667em;
    max-height: 2em;
    opacity: 1; }
  .centered-navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more.nav-link {
        padding-right: 1em; } }
    .centered-navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    .centered-navigation li.more.nav-link a {
      margin-right: 1em; }
    .centered-navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    .centered-navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: #fff;
      content: '\25BE'; }
  .centered-navigation li.more {
    overflow: visible;
    padding-right: 0; }
    .centered-navigation li.more a {
      padding-right: 1em; }
    .centered-navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation li.more > a {
          margin-right: 1em; } }
      .centered-navigation li.more > a:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    .centered-navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.more {
        padding-right: 1em;
        position: relative; } }
  .centered-navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    .centered-navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        .centered-navigation ul.submenu li {
          line-height: 46.15385px; }
          .centered-navigation ul.submenu li:first-child > a {
            border-top-left-radius: 0.1875em;
            border-top-right-radius: 0.1875em; }
          .centered-navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 0.1875em;
            border-bottom-right-radius: 0.1875em;
            padding-bottom: .7em; } }
      .centered-navigation ul.submenu li a {
        background-color: #17122e;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          .centered-navigation ul.submenu li a {
            background-color: #1d1639;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }

.hero {
  background: -webkit-linear-gradient(0deg, rgba(29, 22, 57, 0.9), rgba(29, 22, 57, 0.2)), url("https://farm6.staticflickr.com/5563/15032752441_df02e99988_k.jpg"), no-repeat rgba(29, 22, 57, 0.2) scroll;
  background: linear-gradient(0deg, rgba(29, 22, 57, 0.9), rgba(29, 22, 57, 0.2)), url("https://farm6.staticflickr.com/5563/15032752441_df02e99988_k.jpg"), no-repeat rgba(29, 22, 57, 0.2) scroll;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 0em; }
  .hero .hero-logo img {
    height: 3em;
    margin-bottom: 2.5em; }
  .hero .hero-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 4em;
    margin: auto;
    text-align: center;
    color: white; }
    .hero .hero-inner:after {
      content: "";
      display: table;
      clear: both; }
    .hero .hero-inner:after {
      content: "";
      display: table;
      clear: both; }
    .hero .hero-inner button {
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 white;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      background-color: white;
      background-image: -webkit-linear-gradient(white, #e3e3e3);
      background-image: linear-gradient(white, #e3e3e3);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      background-clip: padding-box;
      border: 1px solid #dfd8d8;
      border-radius: 3px;
      box-shadow: inset 0 1px 0 0 white;
      color: #333333;
      display: inline-block;
      font-size: inherit;
      font-weight: bold;
      background-color: white;
      background-image: -webkit-linear-gradient(white, #e5e0e0);
      background-image: linear-gradient(white, #e5e0e0);
      padding: 7px 18px;
      text-decoration: none;
      text-shadow: 0 1px 0 white;
      background-clip: padding-box;
      font-size: 1em;
      outline: none; }
      .hero .hero-inner button:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 white;
        cursor: pointer;
        background-color: #f2f2f2;
        background-image: -webkit-linear-gradient(#f2f2f2, #dbdbdb);
        background-image: linear-gradient(#f2f2f2, #dbdbdb); }
      .hero .hero-inner button:active:not(:disabled), .hero .hero-inner button:focus:not(:disabled) {
        border: 1px solid #dbdbdb;
        box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4; }
      .hero .hero-inner button:hover:not(:disabled) {
        box-shadow: inset 0 1px 0 0 white;
        cursor: pointer;
        background-color: #f2f2f2;
        background-image: -webkit-linear-gradient(#f2f2f2, #ded8d8);
        background-image: linear-gradient(#f2f2f2, #ded8d8); }
      .hero .hero-inner button:active:not(:disabled), .hero .hero-inner button:focus:not(:disabled) {
        border: 1px solid #dfd8d8;
        box-shadow: inset 0 0 8px 4px #d7d1d1, inset 0 0 8px 4px #d7d1d1; }
      .hero .hero-inner button:disabled {
        opacity: 0.5;
        cursor: not-allowed; }
    .hero .hero-inner .hero-copy {
      text-align: center; }
      .hero .hero-inner .hero-copy h1 {
        font-size: 1.6em;
        margin-bottom: .5em; }
        @media screen and (min-width: 53.75em) {
          .hero .hero-inner .hero-copy h1 {
            font-size: 1.8em; } }
      .hero .hero-inner .hero-copy p {
        font-family: "Roboto Slab", serif;
        margin: auto;
        margin-bottom: 3em;
        font-weight: 200;
        line-height: 1.4em;
        font-weight: bold; }
        @media screen and (min-width: 53.75em) {
          .hero .hero-inner .hero-copy p {
            font-size: 1.1em;
            max-width: 40%; } }

.bullets {
  overflow: auto;
  margin-bottom: 0; }
  @media screen and (min-width: 53.75em) {
    .bullets .two-col-bullet {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .bullets .two-col-bullet:last-child {
        margin-right: 0; }
      .bullets .two-col-bullet:nth-child(2n) {
        margin-right: 0; }
      .bullets .two-col-bullet:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 53.75em) {
    .bullets .three-col-bullet {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .bullets .three-col-bullet:last-child {
        margin-right: 0; }
      .bullets .three-col-bullet:nth-child(3n) {
        margin-right: 0; }
      .bullets .three-col-bullet:nth-child(3n+1) {
        clear: left; } }
  @media screen and (min-width: 53.75em) {
    .bullets .four-col-bullet {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .bullets .four-col-bullet:last-child {
        margin-right: 0; }
      .bullets .four-col-bullet:nth-child(4n) {
        margin-right: 0; }
      .bullets .four-col-bullet:nth-child(4n+1) {
        clear: left; } }
  .bullets .bullet-icon {
    float: left;
    width: 3.5em;
    height: 3.5em; }
  .bullets .bullet-content {
    margin-left: 4.9em;
    margin-bottom: 2em; }
  .bullets h2 {
    font-size: 1.4em;
    padding-top: 0.5em;
    margin-bottom: 0.58333em;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    display: inline-block; }

.intro-text {
  margin-bottom: 5em;
  margin-top: 0;
  text-align: center; }
  .intro-text h2 {
    font-family: "Roboto Slab", serif;
    font-weight: 800;
    margin-bottom: .3em; }
    @media screen and (min-width: 53.75em) {
      .intro-text h2 {
        font-size: 3em;
        margin-bottom: .4em; } }
  .intro-text h3 {
    background: #1d1639;
    color: white;
    display: inline-block;
    font-size: .7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: 3px 8px;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      .intro-text h3 {
        margin-bottom: 3.3em; } }
  .intro-text h4 {
    color: #666666;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0 auto 1em; }
    @media screen and (min-width: 53.75em) {
      .intro-text h4 {
        font-size: 1.7em;
        line-height: 1.35em;
        margin: 0 auto 1em;
        width: 80%; } }
  .intro-text p {
    margin: auto; }
    @media screen and (min-width: 53.75em) {
      .intro-text p {
        width: 80%; } }
    .intro-text p a {
      font-size: .8em;
      font-weight: 400;
      text-transform: uppercase; }
      .intro-text p a span {
        font-size: 1.3em;
        line-height: 0; }

.section-heading {
  margin-bottom: 0; }

.comment {
  display: table;
  width: 100%;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1); }
  .comment .comment-image,
  .comment .comment-content {
    display: table-cell;
    vertical-align: top; }
  .comment .comment-image {
    padding-right: 1.4em; }
    .comment .comment-image > img {
      width: 4em;
      height: auto;
      border-radius: 0.1875em;
      padding: 0;
      background: #392b70;
      display: block;
      max-width: none; }
    .comment-reverse-order .comment .comment-image {
      padding-right: 0;
      padding-left: 10px; }
  .comment .comment-content {
    width: 100%; }
    .comment .comment-content h1 {
      font-size: 1em;
      margin-bottom: .5em; }
    .comment .comment-content p {
      margin-bottom: .5em; }
    .comment .comment-content p.comment-detail {
      font-style: italic;
      font-size: .9em;
      color: rgba(51, 51, 51, 0.5); }

.cards:after {
  content: "";
  display: table;
  clear: both; }

.card {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #f7f7f7;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  margin-bottom: 1.5em;
  cursor: pointer;
  box-shadow: 0 2px 4px #e6e6e6;
  position: relative; }
  @media screen and (min-width: 53.75em) {
    .card {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .card:last-child {
        margin-right: 0; }
      .card:nth-child(3n) {
        margin-right: 0; }
      .card:nth-child(3n+1) {
        clear: left; } }
  .card .card-image {
    overflow: hidden;
    max-height: 150px; }
    .card .card-image img {
      width: 100%;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      background: #DBD199;
      border-top-left-radius: 0.1875em;
      border-top-right-radius: 0.1875em; }
  .card .ribbon-wrapper {
    height: 85px;
    width: 85px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: -1px; }
    .card .ribbon-wrapper .ribbon {
      font-size: .8em;
      font-weight: 800;
      text-align: center;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      position: relative;
      padding: 2px 7px;
      left: -5px;
      top: 15px;
      width: 120px;
      background-color: #1d1639;
      color: white;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3); }
  .card .card-header {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #f7f7f7;
    border-bottom: 1px solid #DDD;
    border-radius: 0.1875em 0.1875em 0 0;
    font-weight: bold;
    padding: 0.5em 0.809em; }
  .card .card-copy {
    padding: 0.75em 0.809em;
    font-size: .9em;
    line-height: 1.5em; }
  .card .card-stats {
    padding: 0.75em 0.809em;
    overflow: auto; }
    .card .card-stats ul li {
      display: inline;
      color: #30245e;
      font-weight: 800;
      font-size: 1.2em;
      float: left;
      border-right: 1px solid rgba(51, 51, 51, 0.2);
      line-height: 1.1em;
      padding: 0 .7em 0 .7em; }
      .card .card-stats ul li:first-child {
        padding-left: 0; }
      .card .card-stats ul li:last-child {
        border-right: 0; }
      .card .card-stats ul li span {
        color: #333;
        font-size: .7em;
        display: block;
        font-weight: normal; }
  .card:hover {
    background-color: white; }
    .card:hover .card-image img {
      background: #e2daac; }
    .card:hover .card-header {
      background-color: white; }
  .card:active {
    background-color: #f7f7f7; }
    .card:active .card-header {
      background-color: #f7f7f7; }

.footer-2 {
  background: #1d1639;
  padding: 1.5em;
  width: 100%;
  overflow: hidden; }
  .footer-2 p {
    color: white;
    font-size: .8em;
    font-weight: 400;
    float: left;
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    margin-top: .3em; }
  .footer-2 .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em; }
    @media screen and (min-width: 53.75em) {
      .footer-2 .footer-logo {
        float: left;
        margin-bottom: 0; } }
  .footer-2 .footer-logo img {
    height: 1.6em; }
  .footer-2 ul {
    margin-bottom: 1em; }
    @media screen and (min-width: 53.75em) {
      .footer-2 ul {
        float: left;
        margin-left: 1em;
        margin-bottom: 0; } }
  .footer-2 ul li {
    padding-right: 1em;
    font-weight: 800; }
    @media screen and (min-width: 53.75em) {
      .footer-2 ul li {
        display: inline;
        text-align: left; } }
  .footer-2 ul li a {
    color: white; }
    .footer-2 ul li a:hover {
      color: white; }
  @media screen and (min-width: 53.75em) {
    .footer-2 .footer-secondary-links {
      float: right; } }
  .footer-2 .footer-secondary-links li {
    font-size: .8em;
    font-weight: 400; }
  .footer-2 .footer-secondary-links ul.footer-social {
    margin-top: 1em; }
    @media screen and (min-width: 53.75em) {
      .footer-2 .footer-secondary-links ul.footer-social {
        float: right;
        margin-top: 0; } }
    .footer-2 .footer-secondary-links ul.footer-social li {
      float: left;
      font-size: 1em;
      padding-right: .7em; }
      .footer-2 .footer-secondary-links ul.footer-social li:last-child {
        padding-right: 0; }
    .footer-2 .footer-secondary-links ul.footer-social img {
      opacity: 1;
      height: 1.6em;
      padding: 1px; }
      .footer-2 .footer-secondary-links ul.footer-social img:hover {
        opacity: .7; }

/*# sourceMappingURL=application.css.map */
